{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Login - Pages{% endblock %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/css/pages/page-auth.css' %}">
{% endblock page_css %}

{% block content %}
<div class="position-relative">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner py-4">
      <!-- Login -->
      <div class="card">
        <!-- Logo -->
        <div class="app-brand justify-content-center mt-5">
          <a href="{% url 'dashboards:index' %}" class="app-brand-link gap-3">
            <span class="app-brand-logo demo">{% include 'partials/logo.html' with bgcolor="#9055FD" %}</span>
            <span class="app-brand-text demo text-heading fw-semibold">{% get_theme_variables 'template_name' %}</span>
          </a>
        </div>
        <!-- /Logo -->

        <div class="card-body mt-2">
          <h4 class="mb-2">Welcome to {% get_theme_variables 'template_name' %}! 👋</h4>
          <p class="mb-4">Please sign-in to your account</p>

          {% if form.errors %}
          <div class="alert alert-danger">
            Your username and password didn't match. Please try again.
          </div>
          {% endif %}

          <form id="formAuthentication" method="POST" class="mb-3" action="{{ request.path }}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            
            <div class="form-floating form-floating-outline mb-3">
              <input type="text" class="form-control {% if form.username.errors %}is-invalid{% endif %}" 
                     id="username" name="username" placeholder="Enter your username" 
                     value="{{ form.username.value|default:'' }}" autofocus required>
              <label for="username">Username</label>
              {% if form.username.errors %}
                <div class="invalid-feedback">{{ form.username.errors|join:", " }}</div>
              {% endif %}
            </div>
            
            <div class="mb-3">
              <div class="form-password-toggle">
                <div class="input-group input-group-merge">
                  <div class="form-floating form-floating-outline">
                    <input type="password" id="password" 
                           class="form-control {% if form.password.errors %}is-invalid{% endif %}" 
                           name="password" placeholder="············" required>
                    <label for="password">Password</label>
                  </div>
                  <span class="input-group-text cursor-pointer"><i class="ri-eye-off-line"></i></span>
                </div>
                {% if form.password.errors %}
                  <div class="invalid-feedback d-block">{{ form.password.errors|join:", " }}</div>
                {% endif %}
              </div>
            </div>
            
            <div class="mb-3 d-flex justify-content-between">
              <div class="form-check mb-0">
                <input class="form-check-input" type="checkbox" id="remember-me">
                <label class="form-check-label" for="remember-me">
                  Remember Me
                </label>
              </div>
              <a href="{% url 'auth-forgot-password-basic' %}" class="float-end mb-1">
                <span>Forgot Password?</span>
              </a>
            </div>
            <div class="mb-5">
              <button class="btn btn-primary d-grid w-100" type="submit">login</button>
            </div>
          </form>

          <p class="text-center mb-5">
            <span>New on our platform?</span>
            <a href="{% url 'auth-register-basic' %}">
              <span>Create an account</span>
            </a>
          </p>
        </div>
      </div>
      <!-- /Login -->
      <img src="{% static 'img/illustrations/tree-3.png' %}" alt="auth-tree" class="authentication-image-object-left d-none d-lg-block">
      <img src="{% static 'img/illustrations/auth-basic-mask-light.png' %}" height="172" class="authentication-image d-none d-lg-block" alt="triangle-bg">
      <img src="{% static 'img/illustrations/tree.png' %}" alt="auth-tree" class="authentication-image-object-right d-none d-lg-block">
    </div>
  </div>
</div>
{% endblock content %}
